
[Desktop Entry]
Type=Application
Exec=/usr/local/bin/jesd_eye_scan
Icon=/usr/local/share/jesd/ADIlogo.png
Hidden=false
NoDisplay=false
Name[C]=jesd_eye_scan
Name=jesd_eye_scan
Comment[C]=JESD EYE SCAN
Comment=JESD EYE SCAN
